//Variables
//Fonts
$fontmain: "Montserrat";
$font2: "Noto Serif";
$font3: "Roboto Slab";

//Colors
$white: #ffffff;
$yellow: #fed136;
$darkgrey: #222222;
$grey: #373638;
$lightgrey: #777777;
$backgrey: #f7f7f7;

//Global
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $white;
  font-size: 16px;
  font-family: $fontmain;
  line-height: 1.7;
  color: $darkgrey;
}

section {
  padding: 96px 0;
  text-align: center;
}

.mid-title {
  h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-family: $font2;
    font-style: italic;
    color: $lightgrey;
  }
}

//Header

header {
  position: relative;
  height: 100vh;
  background-image: url("../images/back.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  nav {
    padding-top: 60px;
    .logo {
      font-family: "Yesteryear";
      font-size: 30px;
      letter-spacing: 2px;
      color: $yellow;
    }
    .menu {
      ul {
        list-style-type: none;
        margin: 0;
        li {
          display: inline;
          padding: 0 20px;
          a {
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
      font-family: $font2;
      color: $white;
      font-size: 40px;
      font-style: italic;
      font-weight: 400;
    }
    h1 {
      font-size: 75px;
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
    }
    .btn {
      display: inline-block;
      width: 240px;
      height: 65px;
      padding: 17px;
      background-color: $yellow;
      border-radius: 3px;
      border: none;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: $white;
      letter-spacing: 1.5px;
    }
  }
}

//Services

.services {
  .row {
    margin: 80px 0;
    .col {
      padding: 0 25px;
      .fas {
        width: 90px;
        height: 90px;
        line-height: 80px;
        border: 3px solid $yellow;
        border-radius: 50%;
        color: $yellow;
        font-size: 45px;
      }
      h4 {
        margin: 30px 0 0 0;
        font-weight: 700;
        font-size: 1.2em;
      }
      p {
        color: $lightgrey;
        font-family: $font3;
        line-height: 1.3;
      }
    }
  }
}

//Portfolio

.portfolio {
  background-color: $backgrey;
  .gallery {
    margin-top: 80px;
    .row {
      margin-bottom: 60px;
      .col {
        background-color: $white;
        margin: 0 20px;
        padding: 0 0 30px 0;
        img {
          width: 100%;
          obcject-fit: cover;
        }
        h4 {
          margin: 20px 0 0 0;
          font-size: 18px;
          color: $darkgrey;
        }
        p {
          margin: 0;
          font-family: $font2;
          font-style: italic;
          font-size: 14px;
          color: $lightgrey;
        }
      }
    }
  }
}

//Footer

footer {
  background-color: $white;
  .copy {
    align-self: center;
    font-size: 14px;
    font-weight: 700;
    color: $lightgrey;
  }
  .social {
    ul {
      list-style-type: none;
      li {
        margin: 0 2px;
        display: inline;
        .fab {
          width: 40px;
          height: 40px;
          line-height: 40px;
          background-color: $darkgrey;
          border-radius: 50%;
          color: $white;
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
}
